@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background: #1e555c;
    color: #ffffff;
    overflow-y: hidden;
    font-family: 'Mukta', sans-serif;
}

h1{
    text-align: center;
    font-size: 2.5rem;
}

.label-block{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.time-block{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bolder;
}

.timer{
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

.timer-block{
    border: 7px solid rgba(0, 0, 0, 0.4);
    border-radius: 2.5rem;
    width: 20%;
    text-align: center;
}

#session{
    font-size: 5rem;
}

.controls-button{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    padding: 1rem;
    column-gap: 1rem;
    cursor: pointer;
}

footer{
    text-align: center;
    margin-top: 80%;
}

.warning{
    color: #ff0000;
}

@media screen and (max-width: 800px){
    .timer-block{
        width: 80%;
        padding: 1.5rem;
    }

    .session-time{
        font-size: 2rem;
    }
    
    .break-time{
        font-size: 2rem;
    }
}